<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Angular</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Home &nbsp;&nbsp;&nbsp; <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="posts"
          >posts &nbsp;&nbsp;&nbsp;&nbsp;</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink=""></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Topics &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="login">Login<br /></a>
          <a class="dropdown-item" routerLink="admin">Admin<br /></a>
          <a class="dropdown-item" routerLink="#">Something else here<br /></a>
        </div>
      </li>
    </ul>
  </div>
</nav>
